*{
  background-color: #242424;
}

#navbar {
 
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;

  
}
#baseplate {
  font-size: 35px;
  color: aquamarine;
}

